<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%.Name%> <% .Version %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <script type="text/javascript" src="<% .Prefix %>public/js/gotalk.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/jquery.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/handlebars.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/ace.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/ace-sql.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/ace-theme.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/ace-tools.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/pace.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/list.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/dataTables.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/dataTables-fixedheader.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/csv.js"></script>
    <script type="text/javascript" src="<% .Prefix %>public/js/limp.js"></script>

    <% if eq .Section "home" %>
    <script type="text/javascript" src="<% .Prefix %>public/js/<% .Name %>.js"></script>
    <% end %>

    <link rel="stylesheet" href="<% .Prefix %>public/css/grid.css">
    <link rel="stylesheet" href="<% .Prefix %>public/css/font-awesome.css">
    <link rel="stylesheet" href="<% .Prefix %>public/css/fonts.css">
    <link rel="stylesheet" href="<% .Prefix %>public/css/<% .Name %>.css">

    <link rel="shortcut icon" href="<% .Prefix %>public/favicon.png" />
  </head>
  <% template "body" . %>
</html>
