<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%.Name%> <% .Version %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <script type="text/javascript" src="/gotalk/gotalk.js"></script>
    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <script type="text/javascript" src="/public/js/handlebars.js"></script>
    <script type="text/javascript" src="/public/js/ace.js"></script>
    <script type="text/javascript" src="/public/js/ace-sql.js"></script>
    <script type="text/javascript" src="/public/js/ace-theme.js"></script>
    <script type="text/javascript" src="/public/js/ace-tools.js"></script>
    <script type="text/javascript" src="/public/js/pace.js"></script>
    <script type="text/javascript" src="/public/js/list.js"></script>
    <script type="text/javascript" src="/public/js/dataTables.js"></script>
    <script type="text/javascript" src="/public/js/dataTables-fixedheader.js"></script>
    <script type="text/javascript" src="/public/js/<% .Name %>.js"></script>

    <link rel="stylesheet" href="/public/css/grid.css">
    <link rel="stylesheet" href="/public/css/font-awesome.css">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/<% .Name %>.css">

    <link rel="shortcut icon" href="/public/favicon.png" />
  </head>
  <body>

    <div id="wrapper">

      <div id="sidebar">
        <div class="logo">
          <i class="fa fa-cogs settings-icon"></i>

          <a href="/">
            <span class="name">Env<strong>DB</strong></span>
            <span class="version">v<% .Version %></span>
          </a>
        </div>

        <div class="agents-filter">
          <i class="fa fa-search search-icon"></i>
          <input placeholder="Filter Nodes" id="agents-filter" class="search" type="text">
        </div>

      <ul id="agents" class="list">
        <% range .Agents %>
        <li class="agent <% if .Online %>online<% else %>offline<% end %>" data-id="<% .Id %>" data-agent-id="<% .AgentId %>">

          <i class="fa fa-circle status-icon"></i>

          <div class="agent-header">
            <span class="agent-name"><% .Name %></span>
          </div>

          <div class="agent-metadata">
            <span class="agent-agent-id"><% .Ip %> / <% .Hostname %></span>
          </div>


        </li>
        <% end %>
      </ul>

      </div>

      <div id="envdb-query">
        <div id="editor"></div>

        <div class="envdb-control">
          <a href="#" class="button action run-query">Run Query</a>
          <a href="#" class="button">Export</a>

          <a href="#" class="button right save">Save Query</a>
        </div>
      </div>

      <div id="content">
        <div id="loading">Loading...</div>
        <div class="wrapper"></div>
      </div>

    </div>

    <script id="query-results-table" type="text/x-handlebars-template">
      <table class="query-results">
        <thead>
        <tr>
          <th data-name="agent-name">
          node
          </th>
          {{#each results}}
          <th data-name="{{@key}}">
            {{@key}}
          </th>
          {{/each}}
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </script>

    <script id="agent-template" type="text/x-handlebars-template">
      <li class="agent {{#if online}}online{{else}}offline{{/if}}" data-agent-id="{{id}}">

          <i class="fa fa-circle status-icon"></i>

          <div class="agent-header">
          <span class="agent-name">{{name}}</span>
          </div>

          <div class="agent-metadata">
          <span class="agent-agent-id">{{ip}}/ {{hostname}}</span>
          </div>


        </li>
    </script>

    <script id="query-results-row" type="text/x-handlebars-template">

      {{#each results}}
      <tr class="row">
      <td data-name="agent-name">
      <strong>{{../name}}</strong> ({{../hostname}})
      </td>
      {{#each this}}
      <td data-name="{{@key}}" title="{{this}}">
      {{#if this}}
      {{this}}
        {{else}}
          --
          {{/if}}
      </td>
      {{/each}}
      </tr>
      {{/each}}
    </script>


  </body>
</html>
