<% define "body" %>
<body class="main">
  <div id="wrapper">

    <div id="sidebar">

      <div class="show-sidebar">
        <i title="Show Sidebar" class="fa fa-arrow-right show-sidebar"></i>
      </div>

      <div class="logo">
        <i title="Hide Sidebar" class="fa fa-arrow-left hide-sidebar"></i>

        <a href="/">
          <span class="name">
            <i style="font-size:0.9em;margin-right:5px;" class="fa fa-database"></i>
            Env<strong>DB</strong>
          </span>
          <span class="version"><% .Version %></span>
        </a>
      </div>

      <div class="nodes-filter">
        <i class="fa fa-search search-icon"></i>
        <input placeholder="Filter Nodes" id="nodes-filter" class="search" type="text">
      </div>

      <ul id="nodes" class="list scrollbar">
        <% range .Nodes %>
        <li data-os="<% .Os %>" class="node <% if .Online %>online<% else %>offline<% end %>" data-id="<% .Id %>" data-node-id="<% .NodeId %>">

          <% if eq .Os "linux" %>
            <i class="fa fa-linux os-icon"></i>
          <% else if eq .Os "darwin" %>
            <i class="fa fa-apple os-icon"></i>
          <% end %>

          <i class="fa fa-circle status-icon"></i>

          <div class="node-header">
            <span class="node-name"><% .Name %></span>
          </div>

          <div class="node-metadata">
            <span class="node-ip"><% .Ip %> / <% .Hostname %></span>
          </div>

          <span class="online-status" style="display:none;"><% if .Online %>1<% else %>0<% end %></span>
          <span class="node-node-id" style="display:none;"><% .NodeId %></span>
        </li>
        <% end %>
      </ul>

      <div class="sidebar-footer">
        <% .Name %> (<% .Version %>) by Dustin Willis Webber
      </div>
    </div>

    <div id="header">
      <div class="title">Query All Nodes</div>

      <div id="user-control">
        <img height="20px" width="20px" class="avatar-30" src="<% .User.AvatarLink %>" alt="user-avatar" />
        <span class="user-name">
          <% .User.Name %>
        </span>
        <span class="split">|</span>
        <a href="#" class='logout'>
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      </div>
    </div>

    <div id="envdb-query">
      <div id="editor"></div>

      <div class="envdb-control">

        <div id="flash-message" class="error">
          <span class="success">Query successfully saved.</span>
        </div>

        <a href="#" class="button action run-query">Run Query</a>
        <a href="#" class="button export-results">Export</a>

        <div class="table-filter">
          <i class="fa fa-search search-icon"></i>
          <input placeholder="Filter Results" id="table-filter-input" type="text" name="table-filter">
        </div>

        <a href="#" class="load-query button right save">Load</a>
        <a href="#" class="save-query button right save">Save</a>
      </div>
    </div>

    <div id="content">
      <div class="loading"></div>
      <div id="tables"></div>
      <div class="wrapper">

      </div>
    </div>
  </div>

  <script id="query-results-table" type="text/x-handlebars-template">
    <table class="query-results">
    <thead>
    <tr>
    {{#unless hideNode}}
    <th data-name="node-name">
    node
    </th>
    {{/unless}}

    {{#each results}}
    <th data-name="{{@key}}">
    {{@key}}
    </th>
    {{/each}}
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
  </script>

  <script id="node-template" type="text/x-handlebars-template">
    <li data-os="{{os}}" class="node {{#if online}}online{{else}}offline{{/if}}" data-node-id="{{id}}">

    {{#if linux}}
      <i class="fa fa-linux os-icon"></i>
    {{/if}}

    {{#if darwin}}
      <i class="fa fa-apple os-icon"></i>
    {{/if}}

    <i class="fa fa-circle status-icon"></i>

    <div class="node-header">
    <span class="node-name">{{name}}</span>
    </div>

    <div class="node-metadata">
    <span class="node-node-id">{{ip}} / {{hostname}}</span>
    </div>

    <span class="online-status" style="display:none;">
    {{#if online}}1{{else}}0{{/if}}
    </span>

    <span class="node-node-id" style="display:none;">{{id}}</span>
    </li>
  </script>

  <script id="tables-template" type="text/x-handlebars-template">
    <div id="node-tables">

    <div class="title">
    Tables
    </div>

    <ul class="tables">
    {{#each this}}
    <li data-table-name="{{this}}">
    {{this}}
    </li>
    {{/each}}
    </ul>
    </div>
  </script>


  <script id="query-results-row" type="text/x-handlebars-template">
    {{#each results}}
    <tr class="row">

    {{#unless ../hideNode}}
    <td data-name="node-name" title="{{../../name}} ({{../../hostname}})">
    <strong>{{../../name}}</strong> ({{truncate ../../hostname 10}})
    </td>
    {{/unless}}

    {{#each this}}
    <td data-name="{{@key}}" title="{{this}}">
    {{#if this}}
      {{this}}
    {{else}}
      --
      {{/if}}
    </td>
    {{/each}}
    </tr>
    {{/each}}
  </script>

  <script id="save-query-template" type="text/x-handlebars-template">
    <div class="lbox">

    <div class='lbox-title'>
    <div class='fa fa-edit'></div>
    Save Query
    </div>

    <div class="panel-content">
    <div class="field">
    <label class="req" for="save-query-name">Query Name</label>
      <input placeholder="My Query" id="save-query-name" type="text" name="save-query-name" required>
    </div>
    <div class="field last">
    <label class="left" for="description">Query</label>
      <div id="save-query-editor"></div>
    </div>
    </div>

    <div class="lbox-footer">

    <div class='form-actions'>
    <a class='button action add limp-action'>Save Query</a>
    <a class='button save' onClick='$.limpClose();return false;'>Cancel</a>
    </div>

    </div>
    </div>
  </script>

  <script id="load-query-template" type="text/x-handlebars-template">
    <div id="load-query-select" class="lbox">

    <div class='lbox-title'>
    <div class='fa fa-edit'></div>
    Load Query
    </div>

    <div class="panel-content">
    <div class="field">
    <label class="req" for="search">Filter</label>
      <input class="search" placeholder="Filter Queries" type="text" name="search">
    </div>
    <div class="field last queries">
    <ul id="queries" class="list">
    {{#each this}}
    <li data-query-id="{{id}}" data-query-type="{{Type}}">
    <div class="name">{{Name}}</div>
    <div title="{{Query}}" class="query">{{Query}}</div>

    <a class="load-saved-query button action" href="#">Load</a>
    <a class="delete-saved-query button warning" href="#">
    <i class="fa fa-trash"></i>
    </a>
    </li>
    {{/each}}
    </ul>
    </div>
    </div>

    <div class="lbox-footer">
    <div class='form-actions'>
    <a class='button save' onClick='$.limpClose();return false;'>Cancel</a>
    </div>
    </div>
    </div>
  </script>

  <script id="node-context-menu-template" type="text/x-handlebars-template">
    <ul class="custom-menu">
    <li>
    <a href="#" class="system-information-node">System Information</a>
    </li>
    <li>
    <a href="#" class="disconnect-node">Disconnect Node</a>
    </li>
    <li>
    <a href="#" class="delete-node">Delete Node</a>
    </li>
    </ul>
  </script>

  <script id="confirm-template" type="text/x-handlebars-template">
    <div class="lbox">

    <div class='lbox-title'>
    <div class='fa {{icon}}'></div>
    {{title}}
    </div>

    <div class="lbox-content">
    {{message}}
    </div>

    <div class="lbox-footer">
    <div class='form-actions'>
    <a class='button warning warning limp-action'>{{buttonTitle}}</a>
    <a class='button' onClick='$.limpClose();return false;'>Cancel</a>
    </div>
    </div>

    </div>
  </script>

  <script id="system-information-template" type="text/x-handlebars-template">
    <div class="lbox">

    <div class='lbox-title'>
    <div class='fa fa-info'></div>
    System Information
    </div>

    <div class="lbox-content grid-container">

      <div class="system-information-section grid-50">
        <h1>Network</h1>
        {{#each network}}
        <div class="system-information-row">
          <span class="system-information-key">{{@key}}:</span>
          <span class="system-information-value">{{this}}</span>
        </div>
        {{/each}}
      </div>

      <div class="system-information-section grid-50">
        <h1>Memory</h1>
        {{#each memory}}
        <div class="system-information-row">
          <span class="system-information-key">{{@key}}:</span>
          <span class="system-information-value">{{this}}</span>
        </div>
        {{/each}}
      </div>

      <div class="clearfix"></div>
      <br />
      
      <div class="system-information-section">
        <h1>Platform Information</h1>
        {{#each platform}}
        <div class="system-information-row">
          <span class="system-information-key">{{@key}}:</span>
          <span class="system-information-value">{{this}}</span>
        </div>
        {{/each}}
      </div>

      <div class="system-information-section">
        <h1>CPU</h1>
        {{#each cpu}}
        <div class="system-information-row">
          <span class="system-information-key">{{@key}}:</span>
          <span class="system-information-value">{{this}}</span>
        </div>
        {{/each}}
      </div>

    </div>

    <div class="lbox-footer">
    <div class='form-actions'>
    <a class='button save' onClick='$.limpClose();return false;'>Close</a>
    </div>
    </div>

    </div>
  </script>
</body>
<% end %>
